body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT PANEL */
.profile {
  width: 30%;
  background: #1f1f1f;
  color: white;
  padding: 30px;
  text-align: center;
}

.pfp {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* RIGHT PANEL */
.resume {
  width: 70%;
  padding: 40px;
  overflow-y: auto;
}

.gantt {
  display: flex;
  margin: 10px 0;
}

.gantt-block {
  background: #4CAF50;
  color: white;
  padding: 8px;
  margin-right: 5px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
}
th {
  background: #333;
  color: white;
}